In [48]:
import pandas as pd

In [49]:
pd.__version__

'1.4.3'

In [ ]:
URL=r"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [50]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

### Generate Schema for the DB -- converting to DDL

In [51]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [52]:
### "lpep_pickup_datetime" TEXT, and "lpep_dropoff_datetime" TEXT,  are both wrong format

In [53]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
from sqlalchemy import create_engine

In [55]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [56]:
engine.connect()

#### Create a Table

In [57]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

##### The database is too large, we use iterator to upload it in chunks

In [58]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [59]:
df_iter

In [60]:
df = next(df_iter)

In [61]:
len(df)

100000

In [62]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

#### We need to upload the Schema Names to create the table

In [63]:
df.head(n=0).to_sql(con=engine, name='green_taxi_data', if_exists='replace')

0

In [64]:
%time df.to_sql(con=engine, name='green_taxi_data', if_exists='append')

CPU times: total: 10.6 s
Wall time: 20.3 s

1000

In [65]:
from time import time

In [66]:
while True:
    df = next(df_iter)
    t_start = time()
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(con=engine, name='green_taxi_data', if_exists='append')
    
    t_end = time()
    
    print('inserted antoher chunk..., took %.3f seconds' %(t_end - t_start))

inserted antoher chunk..., took 24.127 seconds
inserted antoher chunk..., took 20.062 seconds
inserted antoher chunk..., took 26.145 seconds
inserted antoher chunk..., took 20.226 seconds
inserted antoher chunk..., took 26.809 seconds
inserted antoher chunk..., took 8.405 seconds

StopIteration:

### DON"T RUN!!!

```bash
!pip install pyarrow
```

In [16]:
URL = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [17]:
import pandas as pd

In [18]:
df_test = pd.read_csv(URL, nrows=100)

In [19]:
df_test.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,100.000000,100.000000,100.0000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000,100.000000,100.000000,100.000,100.000000,100.000000
mean,1.650000,1.570000,3.5610,1.020000,168.410000,158.360000,1.430000,12.987000,1.095000,0.495,2.096600,0.183600,0.297,18.679200,2.125000
std,0.479372,1.007597,3.8553,0.140705,67.708987,74.842396,0.590412,10.509915,1.077068,0.050,2.650679,1.049253,0.030,12.236805,0.897176
min,1.000000,0.000000,0.0000,1.000000,4.000000,3.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000
25%,1.000000,1.000000,1.1675,1.000000,132.000000,89.250000,1.000000,6.500000,0.500000,0.500,0.000000,0.000000,0.300,11.160000,2.500000
50%,2.000000,1.000000,2.2100,1.000000,151.000000,151.000000,1.000000,9.500000,0.500000,0.500,1.860000,0.000000,0.300,14.550000,2.500000
75%,2.000000,2.000000,4.0925,1.000000,238.000000,233.250000,2.000000,16.500000,1.000000,0.500,2.805000,0.000000,0.300,23.320000,2.500000
max,2.000000,5.000000,19.1000,2.000000,264.000000,264.000000,4.000000,52.000000,3.000000,0.500,12.250000,6.120000,0.300,73.670000,2.500000

In [20]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [21]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-20 14:07:00--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.203.64, 52.217.49.222, 52.217.33.166, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.203.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 9.77M=0.001s

2023-01-20 14:07:01 (9.77 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [22]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [23]:
df_zones.head(n=5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265